// Base body colors
$body-bg: #1a1a1a;
$body-color: $gray-100;

// Theme colors
$primary: #c77dff;
$secondary: #7b2cbf;
$info: #c77dff;
$warning: #b2ffa9;

// Navbar Settings
$nav-link-font-weight: 500;
$navbar-nav-link-padding-x: 1.8rem;

// Text Settings
$headings-color: $gray-100;
$link-color: $primary;
